.san-tab-container {
  text-align: center;
}

.san-tabs {
  display: inline-block;
  padding: .125rem;
  border-radius: $border-radius;
  background: $gray-200;
  .san-tab-content {
    display: inline-block;
    padding: $tab-margin;
    border-radius: $border-radius;
    cursor: pointer;
  }
  .active-tab-content {
    background: $white;
    box-shadow: $tab-box-shadow;
    font-weight: $font-weight-bold;
  }
}